[Desktop Entry]
Encoding=UTF-8
Name=Enlazar a gnuplot: How to plot each line of a data file as Y and incremental X - Stack Overflow
Type=Link
URL=http://stackoverflow.com/questions/8646446/gnuplot-how-to-plot-each-line-of-a-data-file-as-y-and-incremental-x?rq=1
Icon=text-html
