[Desktop Entry]
Encoding=UTF-8
Name=Enlazar a gnuplot / parametric (E)
Type=Link
URL=http://folk.uio.no/hpl/scripting/doc/gnuplot/Kawano/parametric-e.html
Icon=text-html
