[Desktop Entry]
Encoding=UTF-8
Name=Enlazar a gnuplot : plotting data from multiple input files in a single graph - Stack Overflow
Type=Link
URL=http://stackoverflow.com/questions/11092608/gnuplot-plotting-data-from-multiple-input-files-in-a-single-graph?rq=1
Icon=text-html
